@use '../../abstracts/levelshare';

$main-content-scale:.8;

object{
  &.gfx-svg { // define svg type

    &[class*='tier-']{opacity: 1;} // common tier styles
    &[class*='section-']{opacity: 1;} // common section styles
    &[class*='view-']{ // common view styles
      bottom:levelshare.dq-fnc-scale(-$main-content-scale,1,1);
      opacity:.5;
      pointer-events: none;
      position: fixed;
      right:levelshare.dq-fnc-scale(-$main-content-scale,1,1);
    }

    &.tier{ // set tier commonalities
      &-0{
        transform: scale(levelshare.dq-fnc-scale($main-content-scale));
      }
      &-1{
        bottom:-2rem;
        right:-3rem;
      }
      &-2{
        bottom:10%;
        right:-18%;
        transform:scale(150%);
      }
    } // end tier common

    &.section{ // set section commonlities
      &-the-problem{ // the problem section
        bottom:6rem;
        transform:scale(150%);
        right:-13rem;
      }
    } // end section grouping

    &.view{ // set view specific
      &-landing{ // landing view
        filter: saturate(60%);
        opacity: .6;
        // flip image
        transform:rotateY(180deg) scale(levelshare.dq-fnc-scale($main-content-scale));
      }
    } // end view overrides

  }// end svg def
}
