@use 'sass:map';
@use 'sass:meta';
@use 'sass:selector';
@use 'sass:string';

@use 'fonts' as rootfont;

@use 'tokens/colors';
@use 'tokens/content';
@use 'tokens/dimensions';
@use 'tokens/fonts';
@use 'tokens/typography';

@use '../abstracts/downquark';

@mixin formatBaseColors($orig, $flag, $val) {
  $srch:'dqColorBase';
  $rplc:'--dq-color-base-';
  $index: string.index($orig, $srch);
  @if $index {
    $rootKey: $rplc + string.to-lower-case(string.slice($orig, string.length($srch)+1, string.length($orig))) + '-' + $flag;
    // @debug $rootKey,$val;
    #{$rootKey}: $val;
  }
}

:root {
  // dynamically extends dq-var-CoreColors base colors with lighter, darker, complementary colors
  @each $orig, $nst in downquark.$dq-var-CoreColors {
    @each $flag, $val in $nst {
      @include formatBaseColors($orig, $flag, $val);
    }
  }

  // set base font size
  @include rootfont.dq();
  font-size: var(--dq-font-size-base-default);

}
