body{
  font:var(--dq-typography-text-font);
  margin:var(--dq-typography-text-margin);
}
h1{
  font:var(--dq-typography-h1-font);
  margin:var(--dq-typography-h1-margin);
}
h2{
  font:var(--dq-typography-h2-font);
  margin:var(--dq-typography-h2-margin);
}
h3{
  font:var(--dq-typography-h3-font);
  margin:var(--dq-typography-h3-margin);
}
h4{
  font:var(--dq-typography-h4-font);
  margin:var(--dq-typography-h4-margin);
}
h5{
  font:var(--dq-typography-h5-font);
  margin:var(--dq-typography-h5-margin);
}
