// TODO: pull these values from `dimensions.json` file
$breakpoints: ( // "anything up to 399 px will be the default. No need to label it
  'small': (min-width:  400px),
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin insetText(){
  // override background-color and text-shadow in the file that is including this one
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}
