@use "sass:color";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@use 'variables/colors';
@use 'variables/content';
@use 'variables/dimensions';
@use 'variables/fonts';
@use 'variables/quarks';
@use 'variables/typography';

$Quarks:meta.module-variables(quarks);
// @debug $Quarks;
// Below will create lighter and darker shades for each token with `Base` in its name
$CoreColors:();
@each $var, $val in meta.module-variables(colors) {
  @if string.index($var, "Base") {
    $CoreColors: map.set($CoreColors, #{$var},default, $val);
    $CoreColors: map.set($CoreColors, #{$var},darker, color.scale($val, $lightness: -60%));
    $CoreColors: map.set($CoreColors, #{$var},dark, color.scale($val, $lightness: -30%));
    $CoreColors: map.set($CoreColors, #{$var},light, color.scale($val, $lightness: 30%));
    $CoreColors: map.set($CoreColors, #{$var},lighter, color.scale($val, $lightness: 60%));
    $CoreColors: map.set($CoreColors, #{$var},complement, color.complement($val));
  }
};

$QuarkColor:();
@each $quark, $val in $Quarks {
  @if string.index($quark, "Color") {
    @each $colorKey, $colorMap in $CoreColors {
      @if $val == map.get($CoreColors,$colorKey,'default') {
        $QuarkColor: map.set($QuarkColor, #{$quark}, $colorMap);
      }
    }
  }
};

@mixin colr($qrk,$variant:'',$slctr:'') {
  // usage downquark.$dq-var-clr('dqColorBaseOrange')
  // usage downquark.$dq-var-clr('dqColorBaseOrange','light','')
  // usage downquark.$dq-var-clr('dqColorBaseOrange','','background')
  // usage downquark.$dq-var-clr('dqColorBaseOrange','dark','background-')

  @if $variant == '' {
    $variant :'default'
  }
  @if string.length($slctr){
    @if string.slice($slctr, -1, -1) != '-'{
      $slctr: #{$slctr}-;
    }
  }

  #{$slctr}color:map.get($QuarkColor,$qrk,$variant);
}

@function colr($qrk,$variant:'') {
  // usage downquark.$dq-var-colr('dqColorBaseOrange')
  // usage downquark.$dq-var-colr('dqColorBaseOrange','light','')

  @if $variant == '' {
    $variant :'default'
  }

  @return map.get($QuarkColor,$qrk,$variant);
}
