@use 'sass:color';

@use '../abstracts/levelshare';
@use '../components/organisms/navigation';
@use 'base-content' as content;

#base {
  background-color: white; // scale-color(levelshare.dq-var-colr('dqColorBasePurple'),$alpha:-75%,$lightness: 35%);
  display:flex;
  height:100vh;

  .container {
    display: flex;
    width:100vw;

    nav {
      @include navigation.styles;
    }

    > div {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr auto;
      height: 100vh;
      position: relative;
      overflow: scroll;

      header {
        position: absolute;
        right:3%;
        top:0;
      }
      > div {
        @include content.default;
      }
      footer {
        display: flex;
        justify-content: space-around;
        padding-bottom: 1%;
        text-align: center;
      }
    }
  }
}
