.wrapper-grid-totem { text-decoration: green wavy underline;
  div {color:coral}}

  $color-link: blueviolet;
  $color-icon: darkturquoise;
  
  :export {
    colorLink: $color-link;
    colorIcon: $color-icon;
  }