// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@use "sass:meta";

:root {
  --lvlshr-font-stack-default: #{meta.inspect($lvlshrFontStackDefault)};
  --lvlshr-font-text-default: #{meta.inspect($lvlshrFontTextDefault)};
  --lvlshr-font-text-code: #{meta.inspect($lvlshrFontTextCode)};
  --lvlshr-font-size-base-default: #{meta.inspect($lvlshrFontSizeBaseDefault)};
  --lvlshr-font-size-line-height-default: #{meta.inspect($lvlshrFontSizeLineHeightDefault)};
  
  font-size: var(--lvlshr-font-size-base-default);
  line-height:var(--lvlshr-font-size-line-height-default)
}


